
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sriracha&family=Tenali+Ramakrishna&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  max-width: 100vw;
  background: linear-gradient(to right, #4b79a1, #283e51);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.App{
 margin: auto;
}

.lyric-form{
  display: flex;
  justify-items: center;
  flex-direction: row;
}

.btnWrap{
  display: flex;
  justify-self: center;
  margin: auto;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
}

.lyric-holder{
  color: rgb(0, 0, 0);
  font-family: 'Tenali Ramakrishna', cursive;
  width: 70vw;
  font-size: 3rem;
  border-radius: 5rem 5rem 5rem 5rem;
}

.lyricsWrapper{
  margin-top: 6rem;
}

#jumbotron{
  visibility: hidden;
  display: flex;
  justify-content: center;
}

#spinner{
  visibility: hidden;
  margin: auto;
}

.input-group{
  width: 30vw;
  margin: auto;
}

/* Navbar styling */

.navbar{
  background: linear-gradient(to left, #306b92, #7dc065);
  min-height: 9vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 2rem;
  box-shadow: 0 7px 15px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: 'Pacifico', cursive;
}

@media (max-width: 767px) {

  body{
    background: linear-gradient(to right, #4b79a1, #2f5474);
  }

  .input-group{
    width: 60vw;
  }

  .lyric-holder{
    width: 80vw;
    font-size: 2rem !important;
  }

.navbar{
  min-height: 5rem;
}

}